body{
    background: linear-gradient(to right, white 0%, white 50%, #D2D2D2 50%, #D2D2D2 100%);
}
@media (max-width: 1480px){
    body{
        background: linear-gradient(to right, white 0%, white 50%, #D2D2D2 50%, #D2D2D2 100%);
    }
}
.homemain{
    /*background: #555555;*/
    /*background-size: 50% auto;*/
    opacity: 0; /* Ustawiamy początkową wartość przezroczystości na 0 */
    animation: fadeInUp 1s ease-in-out forwards;
    margin-bottom: 50px;
    padding-top: 70px;
}

.homesecond{
    width: 970px;
    height: 699px;
    flex-shrink: 0;
    border: 11px solid #000;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hometext{
    color: #000;
    text-align: center;
    font-family: Literata;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: rotate(-90deg);
    left: 207px;
    position: relative;
    top: 16px;
}

.homesecond .img{
    position: relative;
    left: -340px;
    height: 95%;
    top: 30px;
}

.pat{
    position: absolute;
    right: 45px;
    top: 67px;
}
.darkgrey{
    background: #D2D2D2;
    width: 50%;
    height: 100%;
}
.insta{
    width: 40px;
    height: 42px;
    bottom: 19px;
    left: -100%;
    position: relative;
    /* Animacja trwająca 1 sekundę, efekt slide-in */
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    /* Ustawienie początkowej pozycji poza ekranem */
    from {
        left: -100%;
    }
    /* Ustawienie końcowej pozycji na ekranie (brak przesunięcia) */
    to {
        left: 43px;
    }
}

.homebottomtext{
    color: #000;
    text-align: center;
    font-family: Nothing You Could Do;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 352px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    right: 15px;
    height: 77px;
    position: relative;
    bottom: 19px;
    animation: fadeInUp 1s ease-in-out forwards;
}

.homebottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 1100px){
    .hometext{
        left: 71px;
        font-size: 84px;
    }
    .homesecond .img{
        left: -428px;
    }
    .homesecond{
        width: 705px;
    }
    .pat{
        width: 321px;
        right: 35px;
    }
}
.mobile-img{
    display: none;
}
.mobile-bottom-text{
    display: none;
}
@media (max-width: 768px) {
    .homesecond .img{
        display: none;
    }
    .mobile-img{
        display: block;
        width: 36px;
        transform: rotate(90deg);
        position: relative;
        margin-bottom: -53px;
        margin-left: 26%;
    }
    .homesecond{
        width: 278px;
        height: 284px;
        border: 7px solid #000;
        margin-left: auto;
        margin-right: auto;
    }
    .hometext{
        font-size: 41px;
        left: 56px;
        top: auto;
    }
    .homebottomtext{
        display: none;
    }
    .mobile-bottom-text{
        font-family: "Nothing You Could Do";
        font-size: 16px;
        text-align: center;
        display: block;
        line-height: 21px;
        padding-top: 14px;
    }
    .pat{
        width: 142px;
        right: -2px;
        top: 12px;
        height: 252px;
    }
}
